{
    auto_https off
}

(wordpress) {
    root * /var/www/html
    request_body {
        max_size 2GB
    }
    php_fastcgi 127.0.0.1:9000 {
        env HTTPS on
    }
    file_server
    encode gzip
}

:80 {
    import wordpress
}

:443 {
    tls /certs/tainer.me.crt /certs/tainer.me.key
    import wordpress
}
